.connect_us {
  width: 100%;
  padding: 30px 270px;
  background: #ffffff;
  margin-top: 16px;
  .title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #2F7354;
    line-height: 30px;
    margin-bottom: 40px;
  }

  .form_item {
    width: 100%;
    margin-bottom: 26px;
  }

  .label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    line-height: 27px;
    vertical-align: center;
    margin-bottom: 10px;
  }

  .require {
    display: inline-block;
    background: #DA3030;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-left: 12px;
  }

  .direction {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
    color: #666666;
    line-height: 21px;
  }

  .input_outer {
    width: 100%;
    height: fit-content;
    border: 1px solid #EEEDED;
    position: relative;
    &.error {
      border: 1px solid #DA3030;
    }

    .last {
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 12px;
      color: #333333;
    }
  }

  .connect_by {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      .name {
        font-size: 18px;
        font-weight: 400;
        color: #333333;
        line-height: 30px;
      }
    }

    .Qr_code {
      width: 110px;
      height: 110px;
      margin-bottom: 16px;
    }

    .add_fill_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 211px;
      height: 144px;
      border: 1px solid #EEEDED;
      margin-bottom: 16px;

      span{
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        line-height: 21px;
      }
    }
  }
}
