.contactUs {
  position: absolute;
  right: 30px;
  bottom: 35px;
  .qrcode {
    display: flex;
    text-align: center;
    > div {
      &:first-of-type {
        margin-right: 20px;
      }
      img {
        width: 100px;
        height: 100px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        line-height: 18px;
        margin-top: 10px;
      }
    }
  }
  .contact_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border: 2px solid #DBDBDB;
  }

  .flex_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
