.homeWrap {
  display: flex;
  width: 100%;
  padding-top: 20px;

  aside {
    width: 260px;
    min-height: 80vh;
    overflow: visible;
  }
  .content{
    position: relative;
    z-index: 2;
    flex:1;
    height: 100%;
    overflow-y: auto;
    padding: 0 16px;
  }
  .right{
    width: 300px;
    .links {
      text-align: center;
      a {
        color: @primary-color;
        &:hover {
          text-decoration: underline;
        }
      }
      a + a {
        margin-left: 10px;
      }
    }
  }
}
