.notification {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, .2);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  .content {
    top: 50%;
    left: 50%;
    min-width: 280px;
    max-width: 560px;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    background-color: #FFF;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    box-shadow: 2px 6px 18px 0 rgba(153, 153, 153, 0.3);
  }
  .content.loading {
    background-color: transparent;
    box-shadow: none;
  }
  &.visibility {
    opacity: 0;
    display: block;
    visibility: hidden;
  }
  &.shown {
    opacity: 1;
    visibility: visible;
    .content {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
