.default_page {
  background-color: #F5F5F5;
  background-size: 400% 100%;
  background-position: 100% 50%;
  animation: weim-skeleton-loading 1.5s ease infinite;
  background-image: linear-gradient(90deg, #F5F5F5 25%, #EAEAEA 37%, #F5F5F5 63%);

  @keyframes weim-skeleton-loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default_avatar {
  border-radius: 40px;
  margin-right: 20px;
  &.small {
    width: 40px;
    height: 40px;
  }

  &.large {
    width: 80px;
    height: 80px;
  }

  &.middle {
    width: 60px;
    height: 60px;
  }
}

.default_text_line {
  width: 100%;
  height: 12px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.default_pic {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.default_page_outer {
  width: 100%;
  padding: 20px;
  background: white;
}

.row {
  display: flex;
  margin-bottom: 20px;
}
