.panel {
  background-color: #FFF;

  .panel_header {
    line-height: 18px;
    padding: 17px 16px;
    h3 {
      margin: 0;
    }
  }

  .panel_content {
    border-top: 1px solid @border-color;
    padding: 20px;
  }
}
