.stock {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 20px;
  justify-content: space-between;
  background: #ffffff;

  .icon {
    width: 20px;
    height: 20px;
  }

  .stock_name {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 27px;
    padding: 0 10px;

    a {
      cursor: pointer;
    }
  }

  .code {
    font-size: 16px;
    font-weight: 400;
    color: #2f7354;
    line-height: 24px;
    cursor: pointer;
  }
  .label {
    display: inline-block;
    width: 16px;
    height: 12px;
    background: #19A6EF;
    border-radius: 1px;
    font-size: 8px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 12px;
  }
  .stock_line{
    display: flex;
    align-items: center;
    text-align: center;
  }
}
