.settings {
  .user, .favorite {
    background-color: #FFF;
    h3 {
      padding: 16px 20px;
      border-bottom: 1px solid @border-color;
    }
  }

  .user {
    margin-bottom: 16px;
  }

  .options {
    padding: 40px 20px 34px;
    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
      &:not(:first-of-type) {
        margin-top: 30px;
      }
      li {
        float: left;
        font-size: 18px;
        padding: 0 26px;
        border-right: 1px solid @border-color;
        &:first-of-type {
          font-weight: bold;
        }
        &.active {
          font-weight: bold;
          color: @primary-color;
        }
        &:first-of-type {
          padding: 0;
          min-width: 100px;
          margin-right: 50px;
        }
        &:not(:first-of-type) {
          cursor: pointer;
        }
        &:last-of-type, &:first-of-type {
          border-right: 0 none;
        }
        &:hover:not(:first-of-type) {
          color: @primary-hover-color;
        }
      }
    }

    .data {
      display: flex;
      align-items: center;
      .avatar {
        margin-right: 26px;
      }
      .weim {
        input {
          width: 398px;
          height: 54px;
          font-size: 18px;
          padding: 18px 20px;
          margin-right: 20px;
          border: 1px solid @border-color;
        }
        button {
          font-size: 18px;
          color: @primary-color;
          transition: all .3s linear;
          &:hover {
            opacity: 0.6;
          }
          &:first-of-type {
            margin-right: 10px;
          }
        }
        p {
          color: #666;
          font-size: 18px;
          margin-top: 24px;
          margin-bottom: 0;
        }
      }
    }
    .associated {
      padding-left: 190px;
      :global(.weim-third-party) {
        padding-top: 28px;
        padding-bottom: 0;
      }
    }
  }
}
