.connect_IB {
  display: flex;
  padding: 20px 0;
  align-items: flex-start;
  .qa {
    width: 641px;
    margin-right: 16px;
    background-color: #FFF;
    padding: 30px 40px 30px 30px;
    .qa_item {
      margin-bottom: 40px;
      .question {
        line-height: 24px;
        padding-left: 30px;
        position: relative;
        margin-bottom: 20px;
        color: @primary-color;
        .serial {
          left: 0;
          top: 2px;
          width: 20px;
          color: #FFF;
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          margin-right: 10px;
          position: absolute;
          font-weight: normal;
          border-radius: 10px 10px 10px 0;
          background-color: @primary-color;
        }
      }
      .answer {
        padding-left: 30px;
        p {
          margin-bottom: 0;
          line-height: 30px;
          &:not(:first-of-type) {
            margin-top: 10px;
          }
        }
      }
    }
    .mail_us {
      font-size: 16px;
      color: @primary-color;
      a {
        color: @primary-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .others {
    width: 543px;
    .connect {
      background-color: #FFF;
      padding: 30px 40px 30px 30px;
      :global {
        .weim-tips {
          margin-top: 25px;
          .weim-tips-header {
            img {
              margin-right: 5px;
              vertical-align: -3px;
            }
          }
        }
      }
      .row {
        display: flex;
        margin-top: 30px;
        align-items: flex-end;
        .margin {
          margin-right: 40px;
        }
      }
    }
    .how {
      margin-top: 16px;
      .title {
        line-height: 80px;
        padding-left: 30px;
        background-color: @primary-color;
        h2 {
          color: #FFF;
        }
      }
      .steps {
        padding: 30px;
        background-color: #FFF;
        p {
          font-size: 20px;
          line-height: 30px;
          &:not(:first-of-type) {
            margin-top: 30px;
          }
        }
      }
    }
    .follow {
      padding: 30px;
      margin-top: 16px;
      background-color: #FFF;
      .official_account, .customer_service {
        display: flex;
        align-items: center;
        img {
          width: 110px;
          height: 110px;
          margin-right: 20px;
        }
        .desc {
          font-size: 18px;
          max-width: 230px;
          color: @primary-color;
        }
      }
      .official_account {
        margin-bottom: 30px;
      }
    }
  }
}
