.wrapper {
  padding: 25px;
  margin: 20px 0;
  background-color: #FFF;
  h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
    &.para {
      margin-bottom: 40px;
    }
  }
}
