.interact {
  width: 100%;
  padding: 10px 0 15px;
  background: #ffffff;

  ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding-left: 0;
    align-items: center;

    li {
      flex: 1;
      float: left;
      cursor: pointer;
      line-height: 27px;
      text-align: center;

      &:not(:last-of-type) {
        border-right: 1px solid @border-color;
      }

      :global(.weim-icon) {
        height: 17px;
        margin-right: 10px;
        vertical-align: -3px;
      }

      span {
        color: #666;
      }

      &:hover {
        span {
          color: @primary-color;
        }
      }
    }
  }

  .add_one {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    animation: appear 1s;
    opacity: 0;
  }
}

.button_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  span {
    height: 15px;
    line-height: 15px;
  }
}

.interact_depth_detail {
  position: fixed;
  left: 50%;
  top: 220px;
  width: 60px;
  height: 183px;
  background: white;
  transform: translateX(225px);
  box-shadow: 0px 0px 20px 0px rgba(192, 192, 192, 0.5);

  ul {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    li {
      flex: 1;
      width: 100%;
    }
  }
}

@keyframes appear {
  from {
    opacity: 1;
    transform: translateY(-50%) translateX(100%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%) translateX(100%);
  }
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  height: 25px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(-120%);
  animation: show 0.3s;
}

.liking {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-150px);
  animation: inout 2s;
}


@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes inout {
  0% {
    opacity: 0;
    transform: translateX(-150px) translateY(40px);
  }
  20% {
    opacity: 1;
    transform: translateX(-150px) translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateX(-150px) translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-150px) translateY(-40px);
  }
}

