.intro {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  .title{
    display: flex;
    flex:1;
    justify-content: center;
  }
  .button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &:hover{
      transform: scale(1.1);
    }
  }
}
