.button {
  height: 30px;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background-color: @primary-color;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  .button__icon {
    &.button__space {
      margin-right: 5px;
    }
    > img {
      width: 14px;
      height: 14px;
      vertical-align: -2px;
    }
  }
  .button__text {
    color: #FFF;
    font-size: 16px;
    line-height: 30px;
    transition: color .3s cubic-bezier(.645, .045, .355, 1);
  }
  &::before {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    opacity: 0;
    content: '';
    position: absolute;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, .2);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
  }
  &:not(.disabled):hover::before {
    opacity: 1;
  }

  &.danger {
    background-color: @danger-color;
  }

  &.small {
    height: 24px;
    padding: 0 12px;
    border-radius: 12px;
    .button__text {
      line-height: 24px;
    }
  }
  &.large {
    height: 40px;
    padding: 0 32px;
    border-radius: 20px;
    .button__icon {
      &.button__space {
        margin-right: 10px;
      }
      > img {
        width: 16px;
        height: 16px;
        vertical-align: -2px;
      }
    }
    .button__text {
      font-size: 18px;
      line-height: 40px;
    }
  }

  &.square {
    border-radius: 3px;
  }

  &.ghost {
    background-color: transparent;
    border: 1px solid @primary-color;
    .button__text {
      color: @primary-color;
    }

    &.danger {
      border-color: @danger-color;
      .button__text {
        color: @danger-color;
      }
    }
  }

  &.block {
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: #BBB;
    .button__text {
      color: #FFF;
    }
  }
}
