.no_data {
  width: 100%;
  height: 200px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  .slid_no_data_img{
    width: 90px;
    height: 80px;
  }
  span {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    line-height: 24px;
  }
}
