.newsletter_detail {
  position: relative;
  padding-bottom: 40px;

  .article {
    padding: 30px 0;
    margin-bottom: 16px;
    background-color: #FFF;

    .back {
      padding: 18px 20px;
      border-bottom: 1px solid @border-color;

      .backButton {
        cursor: pointer;
        color: #333;
        font-size: 20px;

        :global(.weim-icon) {
          margin-right: 14px;
          vertical-align: -2px;
        }

        &:hover {
          color: @primary-hover-color;
        }
      }
    }
  }

  .edit_content {
    padding: 0 20px;
    position: relative;
    width: 100%;

    :global {
      .codex-editor__redactor {
        padding-bottom: 0 !important;
      }
      .ce-block__content {
        max-width: 100%;
      }
    }

    .edit_content_mark {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
  }
}

:global {
  .modal-published {
    .weim-third-party-header {
      h2 {
        text-align: center;
        font-weight: normal;
      }
    }
    .weim-third-party-description {
      font-weight: normal;
      color: @primary-color;
    }
    .weim-button {
      background-color: #4CBF00;
      &:hover {
        background-color: #4CBF00;
      }
    }
  }
}

.direction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  min-width: 50px;
  height: 25px;
  border-radius: 3px;
  padding: 0 5px;
  width: min-content;
  &.long {
    border: 1px solid #4CBF00;
    color: #4CBF00;
  }
  &.short {
    border: 1px solid #efaf00;
    color: #efaf00;
  }
}
