.watchlist {
  background-color: #FFF;
  &.gap {
    padding: 20px;
  }
  table {
    width: 100%;
    border-spacing: 0;
    thead {
      th {
        position: relative;
        .tableCell {
          outline: none;
          text-align: center;
          span {
            color: #666;
            font-size: 16px;
            line-height: 50px;
            position: relative;
            font-weight: normal;
          }
          &.tableSorter, &.tableSelector {
            cursor: pointer;
            transition: all .3s linear;
            &:hover {
              background-color: #F5F5F5;
            }
          }
          &.tableSorter {
            span {
              &::before, &::after {
                width: 0;
                height: 0;
                content: '';
                right: -18px;
                position: absolute;
                border-width: 6px;
                border-style: solid;
                transition: all .3s linear;
              }
              &::before {
                top: -4px;
                border-color: transparent transparent #999 transparent;
              }
              &::after {
                bottom: -4px;
                border-color: #999 transparent transparent transparent;
              }
            }
            &.asc {
              span {
                &::before {
                  border-color: transparent transparent @primary-color transparent;
                }
              }
            }
            &.desc {
              span {
                &::after {
                  border-color: @primary-color transparent transparent transparent;
                }
              }
            }
          }
          &.tableSelector {
            span {
              &::after {
                top: 4px;
                width: 0;
                height: 0;
                content: '';
                right: -18px;
                position: absolute;
                border-width: 6px;
                border-style: solid;
                transform-origin: 3px 6px;
                transition: all .3s linear;
                border-color: transparent transparent transparent #999;
              }
            }
            &.selected {
              span {
                &::after {
                  border-color: transparent transparent transparent @primary-color;
                }
              }
            }
          }
          .selector {
            top: 100%;
            left: 50%;
            display: none;
            padding: 10px 0;
            position: absolute;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, .8);
            ul {
              list-style: none;
              li {
                color: #FFF;
                font-size: 16px;
                cursor: pointer;
                padding: 0 30px;
                line-height: 40px;
                text-align: center;
                &:not(.active):hover {
                  color: @primary-hover-color;
                }
                &.active {
                  color: @primary-color;
                }
              }
            }
          }
          &:focus {
            &.tableSelector {
              span {
                &::after {
                  transform: rotate(90deg);
                }
              }
            }
            .selector {
              display: block;
            }
          }
        }
      }
    }
    tbody {
      td {
        padding: 20px 0;
        font-size: 16px;
        text-align: center;
        border-top: 1px solid @border-color;
        &.hilite {
          a {
            color: @primary-color;
          }
        }
        &.strong {
          font-weight: bold;
        }
      }
    }
  }
  .no_watching{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    height: 500px;
    border-top: 1px solid #EEEDED;
    img{
      width: 200px;
      height: 200px;
    }
    span{
      font-size: 18px;
      font-weight: 400;
      color: #B1B1B1;
      line-height: 18px;
    }
  }
}
