.card {
  min-width: 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 16px;
  background-color: #FFF;
  &:nth-of-type(odd) {
    border-right: 8px solid @border-color;
  }
  &:nth-of-type(even) {
    border-left: 8px solid @border-color;
  }
  .cardHeader {
    display: flex;
    align-items: center;
    padding: 20px 20px 16px;
    border-bottom: 1px solid @border-color;
    .info {
      flex: 1;
      margin-left: 15px;
      .editor {
        input {
          width: 200px;
          height: 32px;
          font-size: 18px;
          padding: 0 10px;
          border: 1px solid @border-color;
        }
        button {
          font-size: 16px;
          margin-left: 10px;
          color: @primary-color;
        }
      }
      .nickname {
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text {
          font-size: 18px;
          :global(.weim-icon-container) {
            margin-left: 10px;
            > img {
              vertical-align: -2px;
            }
          }
        }
        .tips {
          color: #999;
          max-width: 145px;
        }
      }
      h3 {
        margin-top: 5px;
        margin-bottom: 0;
        font-weight: normal;
      }
    }
  }

  .cardBody {
    padding: 20px 20px 0;
    .info {
      color: #999;
      font-size: 16px;
      margin-bottom: 15px;
      > div:first-of-type {
        margin-bottom: 6px;
      }
      a {
        color: #999;
      }
      .dark {
        color: #333;
      }
      .ACTIVE {
        color: @primary-color;
      }
      .FAILED {
        color: @danger-color;
      }
      .PENDING_VERIFICATION {
        color: @link-color;
      }
      :global(.weim-icon) {
        margin-left: 5px;
        vertical-align: -2px;
      }
    }
    .editor {
      position: relative;
      textarea {
        width: 100%;
        padding: 16px;
        color: #333;
        height: 300px;
        font-size: 18px;
        background-color: transparent;
        border: 1px solid @border-color;
      }
      .count {
        right: 16px;
        bottom: 16px;
        color: #666;
        position: absolute;
      }
    }
  }

  .operation {
    text-align: center;
    padding: 16px 20px 20px;
    > :global(.weim-button) {
      width: 216px;
    }
    .group {
      display: flex;
      align-items: center;
      justify-content: center;
      :global(.weim-button) {
        width: 144px;
        &:first-of-type {
          margin-right: 16px;
        }
      }
    }
  }
}
