.hot {
  width: 100%;
  background: #FFFFFF;

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    overflow-x: hidden;
    word-break: break-all;
    font-size: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 27px;
    border-bottom: rgba(238, 237, 237, 1) 1px solid;
  }

  .ticker_title {
    width: 100%;
    word-break: break-all;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    line-height: 27px;
  }


  ul {
    list-style: none;
  }

  footer {
    display: flex;
    align-items: center;
    height: 36px;
    display: flex;
    justify-content: center;
  }

  .item {
    padding: 8px 16px;
    border-bottom: 1px solid #EEEDED;
    cursor: pointer;

    .space_line {
      width: 1px;
      height: 23px;
      background: #EEEDED;
    }
  }

  .option {
    font-size: 14px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    line-height: 21px;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
  }

  .account {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 21px;
    padding-bottom: 5px;

    .fans {
      flex: 1;
      display: flex;
    }

    .comment {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: #666666;
      line-height: 21px;
      margin-right: 15px;

      .no {
        margin-left: 10px;
      }
    }
  }

  .direction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 0px 12px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    &.long {
      border: 1px solid #2F7354;
      color: #2F7354;
    }
    &.short {
      border: 1px solid #FF2C2C;
      color: #FF2C2C;
    }
  }

  .code {
    font-size: 16px;
    font-weight: 400;
    color: #2f7354;
    line-height: 24px;
    cursor: pointer;
  }

}
