.filtering {
  line-height: 20px;
  background-color: #FFF;

  .aggravate {
    font-size: 18px;
    font-weight: bold;
    color: @primary-color;
  }

  h3 {
    margin-bottom: 20px;
    font-weight: normal;
  }

  section {
    position: relative;
    padding:  12px 0;
    &:not(:first-of-type):after {
      position: absolute;
      top: 0;
      left: 12px;
      width: 100%;
      height: 0px;
      content: ' ';
      border-top: 1px solid @border-color;
    }

    :global {
      .weim-collapse-item {
        border-bottom: 0 none;

        .weim-collapse-header {
          padding: 0;
        }
      }
    }
  }

  .topic, .picked, .global_account {
    li {
      padding-left: 16px;
      display: flex;
      align-items: center;
      height: 48px;
      label {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }

    li.active {
      background: #EAF1ED;
    }

    align-items: center;

    :global(.weim-icon) {
      margin-right: 10px;
    }
  }

  .topic li:not(:first-of-type),
  .global_account li:not(:first-of-type),
  .picked li:not(:first-of-type) {
  }

  .topic ul,
  .global_account ul,
  .picked ul{
    list-style: none;
  }


  .stock_market {
    h3:last-of-type {
      margin-bottom: 0;
    }
  }
}
