.message_title_box {
  padding: 0px 20px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .message_title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    line-height: 30px;
  }

  .time {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 27px;
  }

}

