.newsInBrief {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  background: #ffffff;
  width: 100%;

  .message_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .time {
    font-size: 18px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 27px;
    margin-bottom: 10px;
  }

  .message {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 28px;
    max-height: 168px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .noMore {
    max-height: unset;
  }

  .buttonBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
