.input {
  position: relative;
  .label {
    font-style: 18px;
    margin-bottom: 16px;
  }
  input {
    width: 216px;
    height: 40px;
    padding: 0 10px;
    font-style: 18px;
    transition: all .3s linear;
    border: 1px solid @border-color;
    &.error {
      border-color: @danger-color;
    }
  }
  .hint {
    left: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    color: @danger-color;
    transition: all .3s linear;
    &.visible {
      opacity: 1;
      transform: translateY(100%);
    }
  }
}
