.tabs {
  .nav {
    border-bottom: 1px solid @border-color;
    ul {
      margin: 0;
      display: flex;
      padding-left: 0;
      list-style: none;
      li {
        flex: 1;
        color: #999;
        font-size: 16px;
        cursor: pointer;
        line-height: 36px;
        position: relative;
        text-align: center;
        &::after {
          left: 50%;
          bottom: 0;
          width: 18px;
          height: 2px;
          content: '';
          display: none;
          margin-left: -9px;
          position: absolute;
          background-color: @primary-color;
        }
        &.active {
          font-weight: bold;
          color: @primary-color;
          &::after {
            display: block;
          }
        }
        &:hover {
          color: @primary-hover-color;
        }
      }
    }
  }

  .content {
    position: relative;
    .pane {
      top: 0;
      left: 0;
      width: 100%;
      display: none;
      position: absolute;
      &.active {
        display: block;
        position: static;
      }
    }
  }
}
