.no_data_box{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
    height: 150px;
  }
  span{
    font-size: 18px;
    font-weight: 400;
    color: #B1B1B1;
    line-height: 18px;
    margin-top: 20px;
  }
}
