.depth_analysis_wrap {
  display: flex;
  width: 100%;
  padding-top: 20px;

  aside {
    width: 260px;
    min-height: 80vh;
    overflow: visible;
  }
  .content{
    flex:1;
    height: 100%;
    overflow-y: auto;
    padding: 0 16px;
  }
  .right{
    width: 300px;
  }
}
