.tweetUser {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 16px 20px;
  justify-content: space-between;
  background: #ffffff;

  .avatar_box{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    overflow: hidden;
  }
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 25px;
    overflow: hidden;
    background: rgba(220, 220, 220, 0.9);

    .avatar_img {
      width: 100%;
      height: 100%;
    }
    .default_avatar{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2f7354;
      width: 100%;
      height: 100%;
      padding: 5px;
      overflow: hidden;
      span{
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
        text-overflow-ellipsis: none ;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
  .user_name {
    cursor: pointer;
    flex:1;
    padding-right: 10px;
    font-size:18px;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:27px;
  }
  .user_fun {
    flex:1;
    width: fit-content;
    height:16px;
    font-size:16px;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:24px;
    cursor: pointer;
    &:hover{
      color: #2f7354;
    }
  }
  .main {
    flex: 1;
    margin: 0 16px;
  }
}
