.comments_header {
  display: flex;
  padding: 0 20px 20px;
  align-items: center;
  background: #ffffff;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #F3F3F3;
    overflow: hidden;
    img {
      width: 40px;
      height: 40px;
    }
    .default_avatar{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2f7354;
      width: 100%;
      height: 100%;
      padding: 5px;
      overflow: hidden;
      span{
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
        text-overflow-ellipsis: none ;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }

  input {
    flex: 1;
    height: 40px;
    margin: 0 15px;
    font-size: 16px;
    padding-left: 12px;
    border: 1px solid @border-color;
  }
}

