.discover {
  flex-basis: 260px;
  line-height: 20px;
  background-color: #FFF;
  padding-left: 16px;
  .aggravate {
    font-size: 18px;
    font-weight: bold;
    color: @primary-color;
  }
  h3 {
    margin-bottom: 20px;
    font-weight: normal;
  }
  section {
    padding: 20px 16px;
    &:not(:first-of-type) {
      border-top: 1px solid @border-color;
    }
    :global {
      .weim-collapse-item {
        border-bottom: 0 none;
        .weim-collapse-header {
          padding: 0;
        }
      }
    }
  }
  .topic {
    .label {
      float: left;
    }
    :global(.weim-icon) {
      float: right;
      margin-top: 1px;
    }
  }

  .topic li:not(:first-of-type),
  .global_account li {
    margin-top: 20px;
  }

  .topic ul,
  .global_account ul {
    list-style: none;
  }

  .picked {
    ul {
      list-style: none;
      padding-top: 20px;
      li {
        float: left;
        margin-top: 20px;
        span {
          max-width: 46px;
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
          text-overflow: ellipsis;
        }
        &:not(:nth-of-type(3n)) {
          margin-right: 15px;
        }
        &:first-of-type, &:nth-of-type(2), &:nth-of-type(3) {
          margin-top: 0;
        }
        :global(.weim-icon) {
          margin-top: 3px;
          margin-left: 5px;
        }
      }
    }
  }

  .stock_market {
    h3:last-of-type {
      margin-bottom: 0;
    }
  }
}
