.wrapper {
  padding: 20px 0 85px;
  .body {
    text-align: center;
    padding: 0 20px 30px;
    background-color: #FFF;
    .supplement {
      display: flex;
      padding: 30px 0;
      align-items: center;
      background-color: rgba(47, 115, 84, 0.1);
      .about_sign_up {
        flex: 1;
        > p {
          margin: 0 auto;
          font-size: 18px;
          line-height: 30px;
          color: @primary-color;
          &.required {
            max-width: 435px;
            margin-bottom: 30px;
          }
          &.subscribe {
            max-width: 460px;
          }
        }
      }
      .separator {
        height: 199px;
        border-right: 1px solid rgba(47, 115, 84, 0.2);
      }
      .qrcode {
        flex: 1;
        > div {
          display: flex;
          text-align: left;
          align-items: center;
          padding: 0 80px 0 150px;
          img {
            width: 110px;
            height: 110px;
            margin-right: 20px;
          }
          span {
            font-size: 18px;
            line-height: 30px;
            color: @primary-color;
          }
          &.wechat_official_account {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
