.chart_box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 320px;
  position: relative;
  background: #fff;
  .rise {
    display: flex;
    align-items: center;
    font-family:DINAlternate-Bold,DINAlternate;
    position: absolute;
    top: 5px;
    right: 30px;
    color: #26B633;
    font-size:22px;
    font-weight:bold;
  }
  .down {
    display: flex;
    align-items: center;
    font-family:DINAlternate-Bold,DINAlternate;
    position: absolute;
    top: 5px;
    right: 30px;
    color: #FF2C2C;
    font-size:22px;
    font-weight:bold;
  }
}

.tooltip {
  padding: 6px;
  border-radius: 5px 5px 5px 0;
  &:after {
    left: 0;
    width: 0;
    height: 0;
    content: '';
    bottom: -5px;
    border-width: 4px;
    position: absolute;
    border-style: solid;
    border-color: #FFF transparent transparent #FFF;
  }

  .title {
    font-size: 14px;
    color: #2B96FF;
  }

  .value {
    color: #333;
    margin: 2px 0;
    font-size: 18px;
    line-height: 21px;
  }
}

.mark {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}
