.followings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .spinner_box {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .no_more {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #EEEDED;
    font-size: 18px;
    font-weight: 400;
    color: #B1B1B1;
    line-height: 18px;
    img{
      height: 200px;
      width: 200px;
      margin-bottom: 10px;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
  }
}
