.NAV {
  margin-bottom: 16px;
  padding: 40px 26px 20px;
  background-color: #FFF;

  .navTitle {
    margin-top: 40px;
    margin-bottom: 16px;
    font-weight: normal;
  }

  .pieChart {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .legend {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: 30px;
      max-height: 220px;
      list-style: none;

      > li {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 18px;
        line-height: 20px;

        &:nth-of-type(6n + 1) {
          margin-right: 40px;
        }

        &:not(:nth-of-type(6n + 1)) {
          margin-top: 20px;
        }

        > i {
          width: 14px;
          height: 14px;
          border-radius: 7px;
          margin-right: 20px;
          display: inline-block;
        }

        > span {
          display: inline-block;

          &:first-of-type {
            min-width: 80px;
          }

          &:nth-of-type(2) {
            font-weight: bold;
            color: @primary-color;
          }
        }

        &.selected {
          > span {
            &:first-of-type {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .lineChart {
    border: 1px solid @border-color;

    > .ul {
    }

    :global {
      .bizcharts-tooltip {
        padding: 0 !important;
        //box-shadow: none !important;
        border-radius: 5px 5px 5px 0 !important;
      }
    }
  }
}

.return_chart {
  position: relative;

  .chart_loading {
    position: absolute;
    top: 0;
    left: 0px;
    margin-top: 35px;
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #DCDCDC64;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 17px;
    height: 35px;
  }

  .line_chart {
    box-shadow: 0px 0px 4px 0px rgba(184, 184, 184, 0.5);
  }
}

.tooltip {
  padding: 6px;
  border-radius: 5px 5px 5px 0;
  box-shadow: 0 0 9px 0 rgba(160, 160, 160, 0.5);

  &:after {
    left: 0;
    width: 0;
    height: 0;
    content: '';
    bottom: -6px;
    border-width: 3px;
    position: absolute;
    border-style: solid;
    border-color: #FFF transparent transparent #FFF;
  }

  .title {
    font-size: 14px;
    color: #2B96FF;
  }

  .value {
    color: #333;
    margin: 2px 0;
    font-size: 18px;
    line-height: 21px;
  }

  .date {
    color: #999;
    font-size: 14px;
  }
}

.empty {
  height: 100%;
  text-align: center;
  position: relative;
  background: url('../../../../../../assets/common/empty-chart.png') no-repeat left bottom/cover;

  h6 {
    top: 50%;
    left: 50%;
    color: #999;
    font-size: 16px;
    position: absolute;
    transform: translate(-50%);
  }
}

.from_yahoo {
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  line-height: 17px;
  padding: 8px 25px;
}

.navs_tab {
  list-style: none;
  padding: 20px 20px;

  > li {
    float: left;
    width: 40px;
    font-size: 16px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #999;
    transition: all .1s linear;

    &:not(:first-of-type) {
      margin-left: 20px;
    }

    &:not(.active):hover {
      color: #FFF;
      border-color: @primary-hover-color;
      background-color: @primary-hover-color;
    }

    &.active {
      color: #FFF;
      border-color: @primary-color;
      background-color: @primary-color;
    }
  }
}

.return_tab {
  display: flex;
  width: 100%;
  height: 35px;

  .return_button {
    display: flex;
    flex: 1;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 17px;
    justify-content: center;
    align-items: center;

    &.active {
      color: #2F7354;
      font-weight: 500;
      border-bottom: 3px solid #2F7354;
    }
  }
}
