.wrapper {
  padding: 25px;
  margin: 20px 0;
  background-color: #FFF;
  h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
  }
  h4 {
    font-weight: 600;
    margin-bottom: 40px;
    .serial {
      margin-right: 20px;
    }
  }
  p, li {
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
  }
  p.para {
    margin-bottom: 40px;
  }
  .list {
    .listItem {
      margin-bottom: 40px;
      ul {
        list-style: none;
        li {
          margin-bottom: 10px;
        }
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}
