.comments {
  padding: 20px 0 0;
  background-color: #FFF;
  .comments_header {
    display: flex;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 20px;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: @primary-color;
    }
    input {
      flex: 1;
      height: 40px;
      margin: 0 15px;
      font-size: 16px;
      padding-left: 12px;
      border: 1px solid @border-color;
    }
  }
}

.comment_list {
  background-color: #FFF;
  padding: 0 20px;
  .comment_item {
    display: flex;
    padding: 15px 0;
    align-items: flex-start;
    border-top: 1px solid @border-color;
    .avatar {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      border-radius: 20px;
      overflow: hidden;
      background-color: @primary-color;
      .default_avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2f7354;
        width: 100%;
        height: 100%;
        padding: 5px;
        overflow: hidden;
        span{
          overflow: hidden;
          word-break: break-all;
          white-space: nowrap;
          text-overflow-ellipsis: none ;
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
    .content {
      flex: 1;
      .text {
        display: flex;
        font-size: 16px;
        margin-bottom: 10px;
        align-items: flex-start;
        a {
          cursor: pointer;
          white-space: nowrap;
          color: @primary-color;
        }
        .comment_text {
          overflow: hidden;
          flex: 1;
          padding: 0 10px;
          word-break: break-all;
          white-space: pre-wrap;
        }
      }

      .more {
        margin-bottom: 12px;
        .handle {
          float: right;
          ul {
            margin: 0;
            padding-left: 0;
            li {
              float: left;
              margin-left: 30px;
              button {
                color: #666;
                :global(.weim-icon) {
                  margin-right: 10px;
                  vertical-align: -3px;
                }
                &:hover {
                  color: @primary-hover-color;
                }
              }
            }
          }
        }
      }
      .time {
        color: #999;
      }

      .secondary_level {
        padding: 16px 14px;
        background-color: #F3F3F3;
        margin-bottom: 10px;
      }
    }
  }
  .show_more{
    border-top: 1px solid #EEEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
}

.comments_footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all .3s linear;
  border-top: 1px solid @border-color;
  button {
    font-size: 18px;
    :global(.weim-icon) {
      height: 18px;
      margin-left: 13px;
      vertical-align: -2px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}

.comment_box {
  display: flex;
  flex-direction: column;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 6px 0px rgba(153,153,153,0.5);
  padding: 20px 39px;
  align-items: flex-end;

  .comment_input_box{
    display: flex;
    align-items: flex-start;
    width: 100%;
    border: 1px solid rgba(60,115,79,1);
    padding: 10px 14px;
    margin-bottom: 19px;
    .user_name{
    }
    .comment_input{
      min-height: 40px;
      flex: 1;
      overflow: hidden;
    }
  }

  .buttonIcon{
    width: 16.5px;
    height: 16.5px;
  }
}
.spinner{
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

