.popup {
  width: fit-content;
  position: relative;
  display: inline-block;
  .popup_content {
    position: absolute;
    will-change: transform;
    bottom: -9px;
    left: 0;
    transform: translateY(100%);
    background-color: rgb(255, 255, 255);
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
    box-sizing: border-box;
    display: block;
    z-index: 40;
    border-radius: 3px;
    flex: 1 1 auto;
    overflow: visible;
  }

  .arrow_top {
    position: absolute;
    bottom: -18px;
    left: 50%;
    z-index: 41;
    transform: translateY(-100%) translateX(-50%);
    border-top-width:0 ;
    border-right: transparent 4px solid;
    border-left: transparent 4px solid;
    border-bottom: 9px #FFFFFF solid;
  }

  .default_content {
    width: 90px;
    height: 120px;
  }
}
