.avatar_cart {
  width: 100%;
  background: white;
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 20px;
    width: 100%;
    background: linear-gradient(171deg, #4CA07F 0%, #2F7354 100%);
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
  }

  .user_fun {
    flex:1;
    height:16px;
    padding:  0 12px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    cursor: pointer;
    &:hover{
      color: #ABF5D1;
    }
  }

  .username {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    color: rgba(51, 51, 51, 1);
    line-height: 25px;
  }

  .funs_no {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 24px;
  }

  .follow_box {
    margin-top: 12px;
  }

  .info_box {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    li {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      .info_no {
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        line-height: 28px;
      }

      .info_key {
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF88;
        line-height: 25px;
      }
    }

    .space {
      width: 1px;
      height: 32px;
      background: rgba(238, 237, 237, 0.13);
    }
  }

  .direction {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 26px;
    overflow: hidden;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 40px;
  overflow: hidden;
  background: rgba(220, 220, 220, 0.9);

  .avatar_img {
    width: 100%;
    height: 100%;
  }

  .default_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f7354;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
      text-overflow-ellipsis: none;
      color: #ffffff;
      font-size: 16px;
    }
  }
}

.follow_button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 30px;
  padding: 0 10px;
  background: #FFFFFF;
  border-radius: 15px;
  border: 1px solid #DBDBDB;
  cursor: pointer;
  span{
    font-size: 14px;
    font-weight: 400;
    color: #2F7354;
  }
}
