
.space {
  height: 16px;
  width: 100%;
}

.tab {
  width: 1200px;
  background: #ffffff;
  border-bottom: 1px solid rgba(238, 237, 237, 1);
  z-index: 1000;
  &.over_screen{
    position: fixed;
    top: 0;
  }

  .nav {
    display: flex;
    width: 100%;
    height: 60px;
    .nav_item {
      position: relative;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 400;
      color: #333333;
      line-height: 27px;

      &:hover {
        color: #2F7354;
        font-weight: bold;
      }

      &.active {
        color: #2F7354;
        font-weight: bold;
      }

      .button {
        cursor: pointer;
        padding: 0 10px;
      }
    }

    .action_slider {
      position: absolute;
      left: 50%;
      bottom: -2px;
      transform: translateX(-50%);
      width: 39px;
      height: 3px;
      background: rgba(47, 115, 84, 1);
    }
  }
}
