.message {
  font-size: 18px;
  color: #c2c2c2;
  text-align: center;
}
.message_status{
  font-size: 18px;
  color: #c2c2c2;
  text-align: center;
  a{
    color: #2F7354;
    cursor: pointer;
    text-decoration-style: solid ;
    text-decoration-line: underline;
  }
}
