.select {
  width: 213px;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  background-color: #545454;
  border: 1px solid #B8B8B8;
  .select__container {
    height: 34px;
    display: flex;
    padding-left: 20px;
    padding-right: 15px;
    align-items: center;
    position: relative;
    .select__label {
      color: #FFF;
    }
  }
}
