.avatar_cart {
  width: 100%;
  background: white;
  margin-bottom: 16px;
  height: fit-content;

  .content {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
  }

  .user_fun {
    flex: 1;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 24px;
    margin-left: 16px;
  }

  .direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 26px;
    padding: 0 5px;
    white-space: pre-wrap;
  }

  .username {
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 30px;
    margin-top: 12px;
  }


  .foot {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-top: 1px rgba(238, 237, 237, 1) solid;
    padding: 5px 25px;
    overflow: hidden;
    .account_item {
      width: 100%;
      height: 25px;
      display: flex;
      align-items: center;
      overflow: hidden;
      user-select: none;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      cursor: pointer;
      span{
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
        font-weight: 400;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
        cursor: pointer;
      }
      span:hover{
        color: #26B633;
      }
    }
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 40px;
    overflow: hidden;
    background: rgba(220, 220, 220, 0.9);

    .avatar_img {
      width: 100%;
      height: 100%;
    }

    .default_avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2f7354;
      width: 100%;
      height: 100%;
      padding: 5px;
      overflow: hidden;

      span {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
        text-overflow-ellipsis: none;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
}


