
.analysis_item {
  margin-bottom: 16px;
  background: #ffffff;
}

.line {
  width: 100%;
  height: 1px;
  background: #EEEDED;
}
.analysis_main {
  display: flex;
  width: 100%;
  padding: 40px 55px 20px;
}

.user_info {
  display: flex;
  flex-direction: column;
  width: 423px;
  height: 256px;
  border: 1px solid #EEEDED;
}

.flex_content {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
}

.chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 256px;
  margin-left: 40px;
  border: 1px solid #EEEDED;
}




