.skeleton {
  width: 100%;
  &.centered {
    text-align: center;
  }
  .header {
    display: flex;
    margin-right: 16px;
    align-items: center;
    .avatar {
      &.default {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-right: 12px;
      }
      &.small {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
      }
      &.large {
        width: 140px;
        height: 140px;
        margin-right: 30px;
        line-height: 140px;
      }
      &.circle {
        border-radius: 50%;
      }
      &.square {
        border-radius: 2px;
      }
    }
    .title {
      flex: 1;
      > h3 {
        height: 12px;
        border-radius: 2px;
        &:not(:last-of-type) {
          width: 100%;
          margin-bottom: 20px;
        }
        &:last-of-type {
          width: 70%;
        }
      }
    }
  }
  .blank {
    height: 40px;
    background-color: transparent;
  }
  .content {
    .paragraph {
      height: 12px;
      border-radius: 2px;
      display: inline-block;
      &:not(:last-of-type) {
        width: 100%;
        margin-bottom: 20px;
      }
      &:last-of-type {
        width: 70%;
      }
    }
  }
  .chart {
    height: 200px;
    margin-top: 40px;
  }
}

&.active {
  background-color: #F5F5F5;
  background-size: 400% 100%;
  background-position: 100% 50%;
  animation: weim-skeleton-loading 1.5s ease infinite;
  background-image: linear-gradient(90deg, #F5F5F5 25%, #EAEAEA 37%, #F5F5F5 63%);
}

@keyframes weim-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
