.connect_IB {
  display: flex;
  padding: 20px 0;
  align-items: flex-start;
  background-image: url("../../assets/common/bg_connect.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .left{
    height: 878px;
    width: 397px;
    background: url("../../assets/common/bg_connect_left.png") no-repeat center;
    background-size: cover;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #2F7354;
    line-height: 36px;
  }

  .content{
    display: flex;
    position: relative;
  }

  .others {
    flex: 1;
    padding:  30px 60px;
    background: white;
    .how {
      margin-top: 16px;
      .title {
        line-height: 80px;
        padding-left: 30px;
        background-color: @primary-color;
        h2 {
          color: #FFF;
        }
      }
      .steps {
        padding: 30px;
        background-color: #FFF;
        p {
          font-size: 20px;
          line-height: 30px;
          &:not(:first-of-type) {
            margin-top: 30px;
          }
        }
      }
    }
    .follow {
      padding: 30px;
      margin-top: 16px;
      background-color: #FFF;
      .official_account, .customer_service {
        display: flex;
        align-items: center;
        img {
          width: 110px;
          height: 110px;
          margin-right: 20px;
        }
        .desc {
          font-size: 18px;
          max-width: 230px;
          color: @primary-color;
        }
      }
      .official_account {
        margin-bottom: 30px;
      }
    }
  }
}
