.tabs {
  display: flex;
  align-items: flex-start;

  .nav {
    width: 260px;
    margin-right: 16px;
    background-color: #FFF;
    ul {
      margin: 0;
      list-style: none;
      padding: 0 16px;
      li {
        line-height: 1;
        font-size: 18px;
        cursor: pointer;
        margin-bottom: 20px;
        a {
          color: #333;
        }
        &:hover {
          a {
            color: @primary-hover-color;
          }
        }
        &.active {
          a {
            color: @primary-color;
          }
        }
      }
    }
  }

  .content {
    flex: 1;
    position: relative;
    .pane {
      top: 0;
      left: 0;
      width: 100%;
      display: none;
      position: absolute;
      &.active {
        display: block;
        position: relative;
      }
    }
  }
}
