.wrapper {
  position: relative;
  display: inline-block;
  .tips {
    z-index: 100;
    display: none;
    padding: 4px 8px;
    border-width: 1px;
    position: relative;
    border-style: solid;
    transform: translateY(-20px);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    &::before {
      top: -5px;
      left: 50%;
      width: 10px;
      height: 10px;
      content: '';
      margin-left: -5px;
      position: absolute;
      border-width: 1px;
      border-style: solid;
      transform: rotate(-45deg);
    }
    .header {
      font-size: 18px;
    }
    .description {
      color: #666;
      font-size: 16px;
      margin-top: 20px;
      line-height: 22px;
    }
    &.floated {
      left: 0;
      top: 100%;
      position: absolute;
      transform: translateY(6px);
    }
    &.visibility {
      opacity: 0;
      display: block;
      visibility: hidden;
    }
    &.shown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      &.floated {
        transform: translateY(6px);
      }
    }
    &.safe {
      border-color: @safe-color;
      background-color: #FAFFFD;
      &::before {
        border-color: @safe-color @safe-color transparent transparent;
        background-color: #FAFFFD;
      }
      .header {
        color: @safe-color;
      }
    }
    &.danger {
      background-color: #FFFAFB;
      border-color: @danger-color;
      &::before {
        border-color: @danger-color @danger-color transparent transparent;
        background-color: #FFFAFB;
      }
      .header {
        color: @danger-color;
      }
    }
  }
}
