.select_option{
  min-width: 90px;
  padding: 10px 0;
  list-style: none;
  li{
    height: 34px;
    width: 100%;
  }

  .button_box{
    display: inline-block;
  }
}
.icon{
  transform: rotate(-180deg);
  transition: transform 0.3s;
}
