.account_profile{
  .title{
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    line-height: 36px;
  }

  .avatar{

  }

  .account_name_input{

  }

  .name_editor {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 5px;

    input {
      width: 200px;
      padding: 16px;
      color: #333;
      height: 60px;
      font-size: 18px;
      background-color: transparent;
      border: 1px solid @border-color;
      &::placeholder{
        font-size: 16px;
        font-weight: 400;
        color: #9A9A9A;
        line-height: 16px;
      }
    }

    .message{
      margin-left: 15px;
      font-size: 12px;
      font-weight: 400;
      color: #2F7354;
      line-height: 18px;
      margin-top: -30px;
    }
  }

  .editor {
    position: relative;
    margin-bottom: 20px;
    width: 500px;
    height: 156px;

    textarea {
      width: 100%;
      height: 100%;

      padding: 16px;
      color: #333;
      font-size: 18px;
      background-color: transparent;
      border: 1px solid @border-color;
      &::placeholder{
        font-size: 16px;
        font-weight: 400;
        color: #9A9A9A;
        line-height: 16px;
      }
    }
    .count {
      right: 10px;
      bottom: 10px;
      color: #666;
      position: absolute;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
    }
  }


}
