.manager_intro {
  width: 100%;
  overflow: hidden;

  .ad {
    width: 100%;
    height: 904px;
    background-image: url('../../assets/common/intro_top_bg.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .action {
    width: 100%;
    height: 262px;
    display: flex;
    align-items: center;
    justify-content: center;

    sup, sub {
      font-size: 60px;
      font-weight: 800;
      color: #333333;
      line-height: 60px;

      font-family: SourceHanSansCN-Heavy, SourceHanSansCN;
    }

    sup {
      margin-top: -20px;
    }

    sub {
      margin-top: 80px;
      vertical-align: baseline;
    }

    p {
      text-align: center;
      width: 1110px;
      font-size: 30px;
      font-weight: 400;
      color: #333333;
      line-height: 40px;
    }
  }

  .program {
    background: #FCFCFC;

    .contain {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 72px;

      .title {
        font-size: 58px;
        font-weight: 800;
        color: #333333;
        line-height: 58px;
      }

      .sub_title {
        margin-top: 20px;
        margin-bottom: 70px;
        width: 570px;
        font-size: 20px;
        font-weight: 400;
        color: #333333;
        line-height: 30px;
        text-align: center;
      }

      .row {
        width: 100%;
        height: 345px;
        display: flex;
        justify-content: space-between;

        .message {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          font-weight: 400;
          color: #333333;
          line-height: 40px;

          .title {
            font-size: 30px;
            font-weight: 500;
            color: #333333;
            line-height: 40px;
            margin-bottom: 40px;
          }
        }

        .space {
          width: 1px;
          height: 345px;
          background: #CCCCCC;
        }

      }
    }
  ;
  }

  .weather {
    background: #fff;

    .contain {
      padding: 70px 0;
      display: flex;

      p{
        flex: 1;
        padding-right: 50px;
        .title {
          font-size: 58px;
          font-weight: 500;
          color: #2F7354;
          line-height: 58px;
          margin-bottom: 10px;
        }

        .sub_title {
          font-size: 20px;
          font-weight: 400;
          color: #333333;
          line-height: 30px;
          margin-bottom: 40px;
        }

        .detail{
          font-size: 30px;
          font-weight: 400;
          color: #333333;
          line-height: 40px;
        }

      }

      img{
        width: 410px;
        height: 410px;
      }

    }
  }

  .case {
    background: #F5FBFF;

    .contain {
      padding: 72px 0px;
      font-size: 58px;
      font-weight: 800;
      color: #333333;
      line-height: 58px;

      .title {
        font-size: 58px;
        font-weight: 800;
        color: #333333;
        line-height: 58px;
      }

      .sub_title {
        font-size: 30px;
        font-weight: 400;
        color: #333333;
        line-height: 40px;
        margin-top: 40px;
      }

      .main {
        width: 100%;

        li {
          width: 100%;
          padding: 60px 0;
        }

        li:nth-child(2n) {
          border-top: 1px solid #CCCCCC;

          .avatar {
            flex-direction: row-reverse;
          }
        }
      }

      .avatar {
        display: flex;
        width: 100%;
        align-items: center;

        img {
          width: 90px;
          height: 90px;
        }

        .name {
          font-size: 30px;
          font-weight: bold;
          color: #333333;
          line-height: 30px;
          padding: 0 20px;
        }
      }

      .row {
        display: flex;
        margin-top: 30px;

        .chart {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 400;
          color: #333333;
          line-height: 27px;

          .main_img {
            width: 748px;
            height: 329px;
            margin-top: 16px;
          }
        }


        .size_fund {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 240px;
          font-size: 18px;
          font-weight: 400;
          color: #333333;
          line-height: 27px;

          img {
            width: 80px;
            height: 252px;
            margin: 30px 0;
          }

          span {
            font-size: 12px;
            font-weight: bold;
            color: #999999;
            line-height: 14px;
          }
        }
      }

      p {
        font-size: 30px;
        font-weight: 400;
        color: #333333;
        line-height: 40px;
        margin-top: 20px;
      }


    }


  }

  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2F7354;

    .contain {
      padding: 50px 0;

      .title {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 32px;
      }

      .img_box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 0 20px;

        img {
          width: 333px;
          height: 109px;
        }
      }
    }

  }
}
