.preview {
  padding: 20px 0;
  .header {
    position: relative;
    margin-bottom: 10px;
    h4 {
      line-height: 24px;
      text-align: center;
      font-weight: normal;
    }
    :global {
      .weim-button {
        top: 0;
        right: 0;
        height: 24px;
        padding: 0 7px;
        position: absolute;
        border-radius: 12px;
        background-color: #FFF;
        .weim-button-text {
          line-height: 23px;
          color: @primary-color;
        }
      }
    }
  }
  .content {
    padding: 30px 20px;
    background-color: #FFF;
    .title {
      margin-bottom: 20px;
    }
    .company {
      .name {
        font-size: 18px;
        margin-bottom: 16px;
        :global(.weim-icon) {
          margin-right: 10px;
          vertical-align: -3px;
        }
      }
      .symbol {
        font-size: 16px;
        color: @primary-color;
      }
    }
    .chart {
      padding: 30px 0;
    }
    .text {
      position: relative;
      > p {
        margin-bottom: 20px;
      }
      font-size: 18px;
      line-height: 28px;
      :global {
        .codex-editor__redactor {
          padding-bottom: 0 !important;
        }
        .ce-block__content {
          max-width: 100%;
        }
      }
      .mask {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        position: absolute;
      }
    }
  }
}
