<!doctype html>
<html>
<head>
  <meta http-equiv="Cache-Control" content="max-age=300" />
  <meta charSet="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>WEIM | 万木</title>
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
