.followings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .spinner_box {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .no_more {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    border-top: 1px solid #EEEDED;
  }
}

