.collapse {
  .collapse_item {
    border-bottom: 1px solid @border-color;
    .collapse_header {
      cursor: pointer;
      padding: 20px 16px;
      .label {
        float: left;
        font-size: 18px;
        overflow: hidden;
        font-weight: bold;
        white-space: nowrap;
        color: @primary-color;
        text-overflow: ellipsis;
        max-width: calc(100% - 25px);
      }
      :global(.weim-icon) {
        float: right;
        margin-top: 1px;
        transform: rotate(90deg);
        transition: transform .3s linear;
      }
    }
    .collapse_content {
      overflow: hidden;
      transition: max-height .3s cubic-bezier(.645, .045, .355, 1);
    }
    &.fold {
      .collapse_header :global(.weim-icon) {
        transform: rotate(0);
      }
      .collapse_content {
        max-height: 0;
      }
    }
  }
}
