.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  display: none;
  position: absolute;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  .content {
    top: 50%;
    left: 50%;
    width: 350px;
    position: absolute;
    padding: 20px 20px 15px;
    background-color: #FFF;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    box-shadow: 2px 6px 18px 0 rgba(153, 153, 153, 0.3);
    h3 {
      text-align: center;
      font-weight: normal;
      margin-bottom: 16px;
    }
    .description {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
    .footer {
      margin-top: 60px;
      text-align: right;
      button {
        cursor: pointer;
        &.negative {
          color: #999;
        }
        &.positive {
          margin-left: 36px;
          color: @primary-color;
        }
      }
    }
  }
  &.fixed {
    position: fixed;
  }
  &.mask {
    background-color: rgba(0, 0, 0, .2);
  }
  &.visibility {
    opacity: 0;
    display: block;
    visibility: hidden;
  }
  &.shown {
    opacity: 1;
    visibility: visible;
    .content {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
