.wrap {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  textarea {
    opacity: 0;
    top: -9999;
    z-index: -10;
    position: absolute;
  }
  .item {
    margin: 10px;
    display: flex;
    padding: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(47, 115, 84, .2);
    :global(.weim-icon) {
      width: 16px;
      height: 16px;
    }
    > span {
      color: #FFF;
      margin-top: 10px;
    }
    .hint {
      left: 0;
      right: 0;
      bottom: 0;
      padding: 10px 0;
      text-align: center;
      position: absolute;
      transition: all .15s linear;
      transform: translateY(100%);
      background-color: rgba(47, 115, 84, .4);
    }
    &:hover .hint {
      transform: translateY(0);
    }
  }
}
