.stream {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 40px;

  .no_more {
    display: flex;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    border-top: 1px solid #EEEDED;
  }

  .no_message {
    margin-top: 16px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;

    font-size: 18px;
    font-weight: 400;
    color: #B1B1B1;
    line-height: 18px;
    img{
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }
  }

  .spinner {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
  }
}
