.create_news {
  padding: 20px;
  width: 100%;
  background: #fff;

  .box{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    border:1px solid rgba(238,237,237,1);
    span {
      font-size:18px;
      font-weight:400;
      color:rgba(102,102,102,1);
      line-height:27px;
    }
  }
  .go_edit{
    position: relative;
    top: 5px;
    height: 25px;
    margin-top: 15px;
    font-size:18px;
    font-weight:400;
    color:rgba(47,115,84,1);
    line-height:27px;
  }
}


.create_header {
  padding: 16px 16px;
  margin-bottom: 10px;
  background: #ffffff;
  width: 100%;

  .header {
    display: flex;
    margin-bottom: 10px;
  }

  .avatar_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 25px;
    overflow: hidden;
    background: rgba(220, 220, 220, 0.9);

    .avatar_img {
      width: 50px;
      height: 50px;
    }
  }

  .default_avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f7354;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
    span{
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
      text-overflow-ellipsis: none ;
      color: #ffffff;
      font-size: 16px;
    }
  }

  .user_name {
    flex: 1;
    margin-left: 12px;
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    line-height: 27px;
  }

  .options {
    display: flex;
    width: 400px;
    list-style: none;
    justify-content: space-between;
    margin-left: -5px;
    li{
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      padding: 0 5px;
      p{
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
      }
    }
  }
  .textarea_outer{
    border: 1px solid #EEEDED;
    position: relative;
    textarea {
      padding-bottom: 20px;
    }
    .last{
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 12px;
      color: rgba(0,0,0,0.7)
    }
  }

  .button_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

  }
  .no_options{
    display: flex;
    align-items: center;
    color: #df2a54;
  }

  .return_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
}
.order_spinner{
  margin-left: 10px;
}
