.bar_box {
  width: 100%;
  height: 20px;
  display: flex;
  margin-bottom: 30px;
  .bar{
    width: 337px;
    height: 100%;
    background-image: url("../../../../assets/common/img_bar_gray.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.active{
      background-image: url("../../../../assets/common/img_bar_green.png");
    }
  }


}
