.hot {
  width: 100%;
  background: #FFFFFF;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 52px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 27px;
    border-bottom: 1px #EEEDED solid;

    .title {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
      height: 50px;
      line-height: 27px;
    }
  }

  ul {
    list-style: none;
  }

  footer {
    display: flex;
    align-items: center;
    height: 36px;
    display: flex;
    justify-content: center;
  }

  .item {
    padding: 8px 16px;
    border-bottom: 1px solid #EEEDED;

    .title {
      font-size: 16px;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 30px;
    }

    .message_box {
      flex: 1;
      padding: 0 10px;
      overflow: hidden;
    }

    .avatar {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      white-space: nowrap;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
      background: #EEEDED;

      img {
        width: 50px;
        height: 50px;
      }
      .default_avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2f7354;
        width: 100%;
        height: 100%;
        padding: 5px;
        overflow: hidden;
        span{
          overflow: hidden;
          word-break: break-all;
          white-space: nowrap;
          text-overflow-ellipsis: none ;
          color: #ffffff;
          font-size: 16px;
        }
      }
    }

    .user_name {
      cursor: pointer;
      width: 100%;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      color: rgba(51, 51, 51, 1);
      line-height: 24px;
    }

    .message_line {
      display: flex;
      align-items: center;
      height: 30px;
      cursor: pointer;
      &:hover{
        color: #2f7354;
      }
    }

    .main_message {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }

    .space_line {
      width: 1px;
      height: 23px;
      background: #EEEDED;
    }
  }

  .option {
    font-size: 14px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    line-height: 21px;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
  }

  .account {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 21px;
  }
}
