.navbar {
  background-color: @primary-color;
  .container {
    height: 90px;
    display: flex;
    align-items: center;
  }
}

.navbar__logo {
  margin-right: 42px;
  a {
    width: 180px;
    height: 43px;
    display: block;
    overflow: hidden;
    text-indent: 9999px;
    color: @primary-color;
    background: url('../../assets/common/logo.png') no-repeat left center/100%;
  }
}

.navbar__search {
  width: 293px;
  height: 100%;
  outline: 0 none;
  position: relative;
  :global {
    .weim-tips-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .weim-tips {
        transform: translateY(-10px) !important;
      }
    }
  }
  .navbar__search_input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 26px;
    border-radius: 25px;
    background-color: #FFF;
    padding: 12px 62px 12px 25px;
    &::-webkit-input-placeholder {
      color: #C1C1C1;
    }
    &:-moz-placeholder {
      color: #C1C1C1;
    }
    &::-moz-placeholder {
      color: #C1C1C1;
    }
    &:-ms-input-placeholder {
      color: #C1C1C1;
    }

    &:focus ~ .navbar__search_dropdown {
      display: block;
    }
  }
  :global(.weim-icon-container) {
    right: 25px;
    height: 25px;
    position: absolute;
  }

  .navbar__search_dropdown {
    left: 0;
    top: 100%;
    width: 330px;
    z-index: 999;
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 6px 0 rgba(159, 159, 159, 0.5);
    .suggestions {
      padding: 10px;
      .history_search {
        margin-bottom: 25px;
      }
      .title {
        margin-bottom: 8px;
        h4 {
          float: left;
          color: #999;
          font-weight: normal;
        }
        a {
          float: right;
          color: #666;
          font-size: 12px;
          cursor: pointer;
          :global(.weim-icon) {
            height: 14px;
            margin-right: 4px;
            vertical-align: -2px;
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        li {
          color: #666;
          cursor: pointer;
          font-size: 16px;
          margin-right: 10px;
          margin-bottom: 5px;
          :global(.weim-icon) {
            vertical-align: -3px;
          }
        }
      }
    }

    .result {
      .tab_pane {
        padding: 15px 20px;
        .search_result_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .item_info {
            cursor: pointer;
            font-size: 16px;
            .name {
              margin-bottom: 6px;
              color: @primary-color;
              &.normal {
                color: #333;
              }
            }
            .attach {
              .badge {
                color: #FFF;
                font-size: 14px;
                padding: 2px 4px;
                margin-right: 10px;
                background-color: #C22C4F;
              }
              .code {
                color: #333;
                font-size: 16px;
                .hilite {
                  color: @primary-color;
                }
              }
            }
          }
          .item_action {
            min-width: 105px;
            margin-left: 10px;
            text-align: right;
          }
          &:not(:first-of-type) {
            margin-top: 25px;
          }
        }
        .hint {
          color: #999;
          text-align: center;
        }
      }
      .footer {
        text-align: center;
        padding: 12px 20px;
        .more {
          color: #666;
          cursor: pointer;
          :global(.weim-icon) {
            margin-left: 3px;
            vertical-align: -1px;
          }
        }
      }
    }
  }
}

.navbar__menus {
  margin-left: 55px;
  .navbar__menus_item {
    margin: 0 30px;
    font-size: 20px;
    line-height: 50px;
    position: relative;
    transition: color .3s linear;
    color: rgba(255, 255, 255, .5);
    &.navbar__menus_item_active {
      color: #FFF;
    }
    &.navbar__menus_item_active::after {
      left: 50%;
      content: '';
      width: 22px;
      height: 3px;
      bottom: -14px;
      position: absolute;
      background-color: #FFF;
      transform: translateX(-50%);
    }
    &:hover:not(.navbar__menus_item_active) {
      color: rgba(255, 255, 255, .8);
    }
  }
}

.navbar__user {
  height: 100%;
  display: table;
  cursor: pointer;
  text-align: right;
  position: relative;
  .navbar__user_main {
    display: table-cell;
    padding-right: 24px;
    vertical-align: middle;
    .navbar__user_avatar {
      padding-right: 84px;
    }

  }
  .navbar__user_dropdown {
    right: 0;
    top: 100%;
    z-index: 999;
    display: none;
    padding: 10px 0;
    text-align: left;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 6px 0 rgba(159, 159, 159, 0.5);
    .separator {
      display: block;
      margin: 10px 0;
      border-top: 1px solid @border-color;
    }
    > a {
      color: #333;
      display: block;
      padding: 0 20px;
      font-size: 20px;
      line-height: 45px;
      white-space: nowrap;
      :global(.weim-icon) {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        vertical-align: -5px;
      }
      &:hover {
        background-color: @dropdown-item-hover-background-color;
      }
      &.text {
        color: @primary-color;
      }
    }
  }
  &:hover .navbar__user_dropdown {
    display: block;
  }
}

.loading{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #FFFFFF;
  span{
    margin-top: 5px;
  }
}

.navbar__user_sign {
  :global(.weim-icon) {
    margin-right: 15px;
    vertical-align: -5px;
  }
  > span {
    color: #FFF;
    font-size: 20px;
  }
}
