.wrapper {
  padding: 70px 0;
  text-align: center;

  .password,
  .username {
    margin-bottom: 25px;
  }

  .label {
    text-align: left;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
  }

  .code {
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
  }

  .code_field {
    flex: 3;
    margin-right: 25px;
  }

  .code_image {
    flex: 2;
  }

  .footer_wrapper {
    text-align: left;
    margin-top: 10px;
  }
  .reset_password {
    margin-top: 10px;
    font-size: 16px;
    color: @primary-color;
  }
}
