.status {
  .title{
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    line-height: 36px;
    margin-top: 100px;
    &.error{
      font-size: 22px;
      color: #FF8686;
      line-height: 33px;
    }
  }

  .message {
    overflow: hidden;
    width: 600px;
    font-size: 20px;
    font-weight: 400;
    color: #9A9A9A;
    line-height: 28px;
    margin-top: 30px;
    white-space: pre-wrap;
  }
}

.standby {

}
