.wrapper {
  margin-bottom: 16px;
  .user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    :global {
      .weim-skeleton-header {
        flex-direction: column;
        .weim-skeleton-avatar {
          margin-bottom: 16px;
        }
      }
    }

    .button {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
    }

    .button_icon {
      height: 14px;
      width: 17px;
      margin-right: 5px;
    }

    .avatar {
      margin-top: 30px;
    }

    .nickname {
      font-size: 20px;
      font-weight: bold;
      margin-top: 16px;
    }

    .follow {
      margin-top: 12px;
      font-size: 16px;
      color:rgba(102, 102, 102, 1);
    }

    .desc {
      color: rgba(51, 51, 51, 1);
      font-size: 16px;
      line-height: 28px;
      margin-top: 20px;
    }
  }
}
