.notice {
  overflow: hidden;
  background-color: @notice-background-color;
  .notice__container {
    height: 60px;
    display: flex;
    align-items: center;
    .notice__content {
      flex: 1;
    }
  }
}
