.wrapper {
  padding: 70px 0;
  text-align: center;
  :global(.weim-third-party-footer) {
    text-align: left;
    padding-top: 10px;
  }
  .sign_up {
    font-size: 16px;
    color: @primary-color;
  }
}
