.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 15px;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 15px;
}
