.connect {
  position: relative;
  background-color: #FFF;
  .title{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    line-height: 30px;
  }

  .sub_title{
    width: 565px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 18px;
  }

  :global {
    .weim-tips {
      margin-top: 25px;
      .weim-tips-header {
        img {
          margin-right: 5px;
          vertical-align: -3px;
        }
      }
    }
  }

  .row {
    display: flex;
    margin-top: 30px;
    align-items: flex-end;
    .margin {
      margin-right: 40px;
    }
  }

  .post_message {
    width: 421px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 18px;
  }
}
