.discover {
  background-color: #FFF;

  section {
    padding: 20px;
    &:not(:first-of-type) {
      border-top: 1px solid @border-color;
    }
    :global {
      .weim-collapse-item {
        border-bottom: 0 none;
        .weim-collapse-header {
          padding: 0;
        }
      }
    }
  }

  .accounts, .watchlist {
    ul {
      padding-top: 20px;
      list-style: none;
      li {
        &:not(:first-of-type) {
          margin-top: 20px;
        }
        a {
          color: #333;
          font-size: 18px;
        }
        &:hover {
          a {
            color: @primary-hover-color;
          }
        }
        &.active {
          a {
            color: @primary-color;
          }
        }
      }
    }
  }

  .picked {
    ul {
      padding-top: 20px;
      list-style: none;
      li {
        float: left;
        margin-top: 20px;
        span {
          max-width: 46px;
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
          text-overflow: ellipsis;
          font-size: 18px;
        }
        &:not(:nth-of-type(3n)) {
          margin-right: 15px;
        }
        &:first-of-type, &:nth-of-type(2), &:nth-of-type(3) {
          margin-top: 0;
        }
        :global(.weim-icon) {
          margin-top: 3px;
          margin-left: 5px;
        }
      }
    }
  }

}
