.followers {
  .header {
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    position: relative;
    background-color: #fff;
    :global {
      .weim-icon-container {
        top: 50%;
        left: 17px;
        position: absolute;
        transform: translateY(-50%);
      }
    }
  }
  .list {
    .item {
      width: 50%;
      margin-top: 16px;
      vertical-align: top;
      display: inline-block;
      &:nth-of-type(odd) {
        border-right: 8px solid transparent;
      }
      &:nth-of-type(even) {
        border-left: 8px solid transparent;
      }
      .content {
        display: flex;
        padding: 20px 25px;
        align-items: center;
        background-color: #fff;
        .name {
          font-size: 16px;
          margin-left: 16px;
          font-weight: bold;
        }
      }
    }
    &.pending {
      padding: 20px;
      margin-top: 20px;
      background-color: #fff;
    }
  }
}
