.wrapper {
  height: 80vh;
  padding: 20px 0;
  min-height: 400px;
  .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    .message {
      margin-left: 70px;
      .code {
        font-size: 70px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .text {
        font-size: 40px;
      }
    }
  }
}
