.account {
  width: 100%;
  padding: 0px 0 10px;

  .account_item {
    display: flex;
    padding: 40px 80px 30px;
    margin-bottom: 16px;
    background: #ffffff;
  }

  .user_info {
    width: 240px;
    height: 320px;
    border: 1px solid #EEEDED;
  }

  .chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 320px;
    padding: 0 83px 0 40px;
    margin-left: 40px;
    border: 1px solid #EEEDED;

    .info {
      width: 280px;
      padding: 20px 20px;
      position: relative;

      .line {
        width: 140px;
        height: 1px;
        background: rgba(81, 133, 110, 1);
        position: absolute;
        left: 0;
        top: 40px;
        transform: translateX(-100%);
        .circle {
          position: absolute;
          top: -3px;
          left: -7px;
          width: 7px;
          height: 7px;
          background: #51856E;
          border-radius: 7px;
        }
      }
      .account_info_box {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        margin-bottom: 16px;
        .account_info_key {
          font-size: 18px;
          font-weight: 400;
          width: 125px;
          color: #333333;
          line-height: 27px;
        }

        .account_info_value {
          padding-left: 10px;
          font-size: 20px;
          font-weight: bold;
          color: #51856E;
          line-height: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-all;
        }
      }
    }
  }

}

.spinner_box {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}
