.intro {
  margin-bottom: 16px;
}

.user {
  display: flex;
  align-items: center;

  .user_avatar {
    margin-right: 16px;
  }

  .user_content {

  }

  .user_nickname {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
  }

  .user_follow {
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    margin-left: 12px;
  }
}

.invest {
  display: flex;
  margin-top: 20px;

  .invest_info {
    width: 314px;
    background-color: rgba(245, 245, 245, 1);
    padding: 40px 22px;
  }

  .invest_row {
    display: flex;
    align-items: center;
    height: 56px;

    .invest_row_name {
      color: rgba(51, 51, 51, 1);
      font-size: 18px;
    }

    .invest_row_value {
      flex: 1;
      color: rgba(47, 115, 84, 1);
      font-size: 22px;
      text-align: right;
      font-weight: bold;
    }
  }

  .invest_desc {
    flex: 1;
    margin-left: 16px;
    background-color: rgba(245, 245, 245, 1);
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    padding: 40px 22px;
    line-height: 30px;
  }
}
