.avatar {
  position: relative;
  display: inline-block;
  &.upload {
    cursor: pointer;
    &:hover .layer {
      display: flex;
    }
  }
  > input {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
  }
  .layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
  }

  .avatar_image {
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
    }

    &.colored {
      color: #fff;
      background-color: @primary-color;
    }

    &.avatar_medium{
      background-color: transparent;
    }

    &.white {
      color: #333;
      background-color: #f5f5f5;
    }

    &.avatar_small {
      width: 40px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      border-radius: 20px;
    }

    &.avatar_medium {
      width: 90px;
      height: 90px;
      font-size: 30px;
      line-height: 90px;
      border-radius: 45px;
    }

    &.avatar_large {
      width: 140px;
      height: 140px;
      font-size: 40px;
      line-height: 140px;
      border-radius: 70px;
    }
  }
}
