.input {
  position: relative;
  .label {
    display: flex;
    align-items: center;
    font-style: 18px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #333333;
    line-height: 27px;
    .require {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background: #FF8686;
      margin-right: 8px;
    }
  }
  input {
    width: 650px;
    height: 40px;
    padding: 0 10px;
    font-style: 18px;
    transition: all .3s linear;
    border: 1px solid @border-color;
    &.error {
      border-color: #FF8686;
    }
  }
  .hint {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 30px;
    height: 30px;
    padding: 0 15px;
    border-radius: 5px;
    background: #FF8686;
    opacity: 0;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    transition: all .3s linear;
    &.visible {
      opacity: 1;
      transform: translateY(100%);
    }
  }

  .message {
    display: flex;
    align-items: center;
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 18px;
  }
}
