.position {
  .block {
    margin-bottom: 30px;
    .chart {
      height: 310px;
      margin-bottom: 20px;
      padding: 20px 25px 0;
      border: 1px solid @border-color;
      .unit{
        padding: 7px 0 12px;
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        line-height: 17px;
      }
      .header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        justify-content: space-between;
        h3 {
          font-weight: normal;
        }
        ul {
          margin: 0;
          padding-left: 0;
          list-style: none;
          li {
            float: left;
            position: relative;
            &:not(:first-of-type) {
              margin-left: 34px;
            }
            &::after {
              top: 50%;
              width: 8px;
              height: 8px;
              content: '';
              left: -14px;
              margin-top: -4px;
              border-radius: 4px;
              position: absolute;
            }
            &.buy::after {
              background-color: @safe-color;
            }
            &.sell::after {
              background-color: @danger-color;
            }
            &.analysis::after {
              background-color: @link-color;
            }
          }
        }
      }
      :global {
        .bizcharts-tooltip {
          padding: 0 !important;
          box-shadow: none !important;
          border-radius: 5px 5px 5px 0 !important;
        }
      }
    }
  }
}

.tooltip {
  border-radius: 5px 5px 5px 0;
  box-shadow: 0 0 9px 0 rgba(160, 160, 160, 0.5);
  &:after {
    left: 0;
    width: 0;
    height: 0;
    content: '';
    bottom: -6px;
    border-width: 3px;
    position: absolute;
    border-style: solid;
    border-color: #FFF transparent transparent #FFF;
  }
  .item {
    padding: 6px;
    &:not(:first-of-type) {
      border-top: 1px solid @border-color;
    }
    .title {
      display: block;
      font-size: 14px;
      color: #2B96FF;
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }
    .value {
      color: #333;
      margin: 2px 0;
      font-size: 18px;
      line-height: 21px;
    }
    .date {
      color: #999;
      font-size: 14px;
    }
  }
}

.empty {
  height: 100%;
  text-align: center;
  position: relative;
  background: url('../../../../../../assets/common/empty-chart.png') no-repeat left bottom/cover;
  h6 {
    top: 50%;
    left: 50%;
    color: #999;
    font-size: 16px;
    position: absolute;
    transform: translate(-50%);
  }
}
