.tooltip {
  display: inline;
  position: relative;
  width: auto;
}

.popup_outer {
  position: fixed;
  z-index: 99;
  padding: 6px;
  animation: appear 0.5s;
  background: #999999;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 14px;
}

@keyframes appear {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

