.asset_introduction {
  background: #ffffff;
  width: 100%;
  padding: 20px 140px;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    line-height: 27px;
    margin-bottom: 16px;
  }

  .chart_outer {
    width: 100%;
    height: 328px;
    border: 1px solid #EEEDED;
  }

  .ticker_info_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 10px 20px;

    li {
      display: flex;
      width: 29%;
      height: 44px;
      .ticker_info_key {
        padding-left: 10px;
        display: flex;
        align-items: center;
        flex: 1;
        vertical-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #333333;
        line-height: 27px;
      }
      .ticker_info_value {
        display: flex;
        align-items: center;
        flex: 1.2;
        vertical-align: center;
        font-size: 20px;
        font-family: DINAlternate-Bold, DINAlternate;
        font-weight: bold;
        color: #2B96FF;
        line-height: 24px;
      }
    }
  }
}
