.inline_dialog {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  max-width: 100%;
  position: relative;

}
.inline_dialog_content_outer {
  position: fixed;
  z-index: 98;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  animation: appear 300ms ease-in-out;
  padding:5px 5px;
  .inline_dialog_content{
    box-shadow: 0px 3px 3px 3px rgba(226, 226, 226, 0.5);
  }
}

@keyframes appear {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}


