.avatar_cart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 5px 0px;
  background: white;
  .username {
    max-width: 100%;
    font-size:20px;
    font-weight:bold;
    line-height:30px;
    margin-top: 12px;
    color: #333333;
  }

  .funs_no {
    margin-top: 12px;
    font-size:16px;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:24px;
  }
  .follow_box {
    margin-top: 12px;
  }
  .info_box {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    li{
      height:  50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex:1;
      .info_no{
        font-size:18px;
        font-weight:bold;
        color:rgba(51,51,51,1);
        line-height:21px;
      }
      .info_key{
        font-size:14px;
        font-weight:400;
        color:rgba(102,102,102,1);
        line-height:21px;
      }

    }
  }
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 50px;
  overflow: hidden;
  background: rgba(220, 220, 220, 0.9);

  .avatar_img {
    width: 100%;
    height: 100%;
  }
  .default_avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f7354;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
    span{
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
      text-overflow-ellipsis: none ;
      color: #ffffff;
      font-size: 16px;
    }
  }
}
