.wrapper {
  padding: 70px 0;
  text-align: center;

  .password{
    margin-bottom: 25px;
    color: #333;
  }

  .label {
    text-align: left;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
  }

  .confirm_password {
    color: #333;
    margin-bottom: 45px;
  }
}
