.wrapper {
  display: flex;
  margin: 20px 0;
  align-items: flex-start;

  .aside {
    width: 210px;
    margin-right: 10px;
    background-color: #FFF;

    &.gap {
      padding: 10px;
    }

    ul {
      list-style: none;

      li {
        cursor: pointer;
        padding: 5px 20px;
        margin-bottom: 20px;

        .company {
          color: #333;
          font-size: 18px;
          // transition: all .1s linear;
        }

        .info {
          display: flex;
          margin-top: 5px;
          align-items: center;

          .badge {
            color: #FFF;
            font-size: 14px;
            padding: 2px 4px;
            margin-right: 10px;
            background-color: #19A6EF;
          }

          .code {
            font-size: 18px;
            color: @primary-color;
          }
        }

        &.active {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .main {
    flex: 1;
    display: flex;

    .catalog {
      width: 320px;
      margin-right: 10px;
      text-align: center;
      background-color: #FFF;

      .list {
        transition: all .1s linear;

        .listItem {
          overflow: hidden;
          border-bottom: 1px solid @border-color;

          .content {
            display: block;
            padding: 20px 16px;
            transition: all .3s ease-in-out;

            .header {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .draft {
                color: #666;
                padding: 0 5px;
                font-size: 14px;
                line-height: 24px;
                margin-right: 10px;
                font-weight: normal;
                vertical-align: 1px;
                display: inline-block;
                border: 1px solid @border-color;
              }

              h3 {
                color: #333;
                max-width: 200px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              h3.placeholder, .time {
                color: #666;
              }
            }

            &.focused {
              background-color: #f5f5f5;
            }
          }

          .bar {
            display: flex;
            margin-top: 16px;
            align-items: center;

            > span {
              color: #666;
              font-size: 16px;
              margin-right: 20px;

              :global(.weim-icon) {
                vertical-align: -2px;
              }
            }
          }
        }

        &.gap {
          padding: 10px;
          text-align: left;
        }
      }

      :global(.weim-button) {
        width: 190px;
        height: 35px;
        margin: 26px 0;
      }
    }

    .editor {
      flex: 1;
      position: relative;
      background-color: #FFF;

      .area {
        top: 0;
        left: 0;
        right: 0;
        display: none;
        position: absolute;

        .header {
          height: 70px;
          display: flex;
          padding: 0 20px;
          align-items: center;
          justify-content: space-between;
          background-color: @primary-color;

          .hints {
            font-size: 16px;

            .draft {
              margin-right: 20px;
              color: rgba(255, 255, 255, .6);
            }

            .saved {
              opacity: 0;
              color: #FFF;
              transition: all .3s ease-out;

              &.shown {
                opacity: 1;
              }
            }
          }

          .actions {
            display: flex;
            align-items: center;

            :global {
              .weim-icon-container {
                margin-right: 20px;

                &:first-of-type {
                  .weim-icon {
                    vertical-align: 3px;
                  }
                }
              }

              .weim-button {
                width: auto;
                height: 24px;
                padding: 0 7px;
                border-radius: 12px;
                background-color: #FFF;

                .weim-button-text {
                  line-height: 23px;
                  color: @primary-color;
                }

                &.disabled {
                  background-color: rgba(255, 255, 255, .5);
                }
              }
            }
          }
        }

        .body {
          .forecast {
            padding: 26px 20px;
            border-bottom: 1px solid @border-color;

            .company {
              display: flex;
              align-items: center;

              .name {
                font-size: 18px;

                :global(.weim-icon) {
                  margin-right: 10px;
                  vertical-align: -3px;
                }
              }

              .symbol {
                display: flex;
                align-items: center;
                font-size: 16px;
                margin-left: 20px;
                color: @primary-color;
              }
            }

            .value {
              margin-top: 20px;
              display: flex;
              font-size: 16px;
              font-weight: 400;
              color: #333333;
              line-height: 24px;
              white-space: nowrap;
              align-items: center;

              input {
                height: 100%;
                width: 100%;
                font-size: 16px;
                line-height: 22px;
                font-weight: bold;
                text-align: center;
                color: @primary-color;
                overflow: hidden;
                word-break: break-all;
              }

              .days, .price {
                display: flex;
                align-items: center;
                height: 22px;
                border-radius: 2px;
                border: 1px solid #999999;
                color: @primary-color;
              }

              .price {
                padding: 0 10px 0 0px;

                input {
                  width: 63px;
                }

                &:before {
                  content: '$';
                  font-size: 12px;
                  font-weight: 400;
                  color: #999999;
                  line-height: 18px;
                  margin-left: 5px;
                  margin-right: 5px;
                }
              }

              .days {
                width: auto;
                padding: 0 0px 0 10px;

                input {
                  width: 45px;
                }

                .unit {
                  font-size: 12px;
                  font-weight: 400;
                  color: #999999;
                  line-height: 18px;
                  margin-left: 5px;
                  margin-right: 5px;
                }
              }

              .selector {
                width: 87px;
                height: 32px;
                outline: none;
                font-size: 20px;
                cursor: pointer;
                margin-left: 6px;
                line-height: 32px;
                text-align: center;
                position: relative;
                color: @primary-color;
                background-color: #EEEDED;

                :global(.weim-icon) {
                  float: right;
                  margin-top: 10px;
                  margin-right: 10px;
                  transition: all .3s cubic-bezier(.645, .045, .355, 1);
                }

                .dropdown {
                  left: 0;
                  top: 100%;
                  width: 100%;
                  max-height: 0;
                  overflow: hidden;
                  position: absolute;
                  transform: translateY(2px);
                  background-color: #EEEDED;
                  transition: all .3s cubic-bezier(.645, .045, .355, 1);

                  .dropdownItem {
                    color: #333;
                    font-size: 20px;
                    line-height: 40px;
                    text-align: center;

                    &:not(:first-of-type) {
                      border-top: 1px solid #E4E4E4;
                    }

                    &:hover {
                      color: @primary-hover-color;
                    }

                    &.active {
                      color: @primary-color;
                    }
                  }
                }

                &:focus {
                  :global(.weim-icon) {
                    transform: rotate(90deg);
                  }

                  .dropdown {
                    max-height: 81px;
                  }
                }
              }

              .button_group {
                display: flex;
                width: 160px;
                height: 30px;

                .guss_button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100%;
                  flex: 1;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 20px;
                  background: white;
                  border-radius: 2px 0px 0px 2px;
                  border: 1px solid #F2F2F2;
                  cursor: pointer;
                  user-select:none;
                  &.bullish {
                    color: #2F7354;

                    &.active {
                      color: #ffffff;
                      background: #2F7354;
                      border-width: 0px;
                    }
                  }

                  &.bearish {
                    color: #FF8686;

                    &.active {
                      color: #ffffff;
                      background: #FF8686;
                      border-width: 0px;
                    }
                  }
                }

              }
            }
          }

          .essentials {
            display: flex;
            height: 345px;
            padding: 50px 78px;
            flex-direction: column;

            .title {
              display: flex;
              align-items: center;
              margin-bottom: 25px;
              justify-content: space-between;

              input {
                flex: 1;
                font-size: 26px;
                background-color: #FFF;

                &:focus + .limit {
                  opacity: 1;
                }
              }

              .limit {
                opacity: 0;
                transition: all .15s;
              }
            }

            .summary {
              flex: 1;
              position: relative;

              textarea {
                width: 100%;
                height: 100%;
                font-size: 20px;
                line-height: 28px;
                background-color: #FFF;

                &:focus + .limit {
                  opacity: 1;
                }
              }

              .limit {
                opacity: 0;
                right: 5px;
                bottom: 0px;
                position: absolute;
                transition: all .15s;
                transform: translateY(100%);
              }
            }
          }

          .separator {
            display: flex;
            align-items: center;

            .label {
              color: #999;
              margin: 0 10px;
            }

            .line {
              flex: 1;
              height: 1px;
              background-color: @border-color;
            }
          }

          .subject {
            min-height: 340px;
            padding: 50px 78px;
            position: relative;

            .mask {
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 10;
              position: absolute;
            }

            :global {
              .codex-editor--narrow .ce-toolbar__plus {
                left: -30px;
              }
            }
          }
        }

        &.visible {
          display: block;
          position: relative;
        }
      }

      &.gap {
        padding: 10px;
      }
    }
  }
}
