.hot{
  width: 100%;
  background: #FFFFFF;
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    height: 52px;
    font-size:18px;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:27px;
    border-bottom: 1px #EEEDED solid;
    .title{
      font-size:16px;
      font-weight:bold;
      color:rgba(51,51,51,1);
      line-height:27px;
    }
  }
  ul{
    list-style: none;
  }
  footer{
    display: flex;
    align-items: center;
    height: 36px;
    display: flex;
    justify-content: center;
  }

  .item{
    padding: 8px 16px;
    border-bottom: 1px solid #EEEDED;
    .title{
      font-size:16px;
      font-weight:400;
      color:rgba(51,51,51,1);
      line-height:30px;
      cursor: pointer;
    }
    .message_box {
     padding-right: 10px;
      line-height:30px;
      width: 120px;
    }
    .message_line {
      display: flex;
      align-items: center;
      height: 30px;
    }
    .main_message{
      padding-left: 10px;
      font-size:14px;
      font-weight:400;
      color:rgba(51,51,51,1);
    }
    .space_line{
      width:1px;
      height:23px;
      background: #EEEDED;
    }
  }
  .option{
    font-size:14px;
    font-family:SourceHanSansCN-Regular,SourceHanSansCN;
    font-weight:400;
    line-height:21px;
  }

  .loading {
    display: flex;
    height: 40px;
    top:0;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
  }
  .code {
    font-size: 16px;
    font-weight: 400;
    color: #2f7354;
    line-height: 24px;
    cursor: pointer;
  }
}
