.localeSetting {
  text-align: right;
  .label {
    color: #FFF;
    margin-right: 20px;
  }
  :global {
    .weim-button {
      height: 34px;
      margin-left: 15px;
      margin-right: 20px;
    }
    .weim-icon-container {
      height: 16px;
    }
  }
}
