.wrap {
  section {
    &.white_bg {
      background-color: #FFF;
    }
    &.primary_bg {
      background-color: @primary-color;
    }
    &.gold_bg {
      background-color: rgb(248, 242, 213);
    }
  }

  .first_bg {
    background-image: url('../../assets/common/about-us-bg1.png'), url('../../assets/common/about-us-bg1.jpg');
  }

  .second_bg {
    background-image: url('../../assets/common/about-us-bg2.png'), url('../../assets/common/about-us-bg2.jpg');
  }

  .content {
    height: 100%;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    justify-content: center;
  }

  h4 {
    color: #E3BB8A;
    margin-bottom: 60px;
    &.section_title {
      text-align: center;
      position: relative;
      &:after {
        left: 50%;
        width: 42px;
        height: 3px;
        content: '';
        bottom: -12px;
        position: absolute;
        margin-left: -21px;
        background-color: rgb(227, 187, 138);
      }
    }
  }

  .aboutName {
    h3 {
      font-weight: normal;
      margin-bottom: 20px;
      color: @primary-color;
    }
    p {
      font-size: 16px;
    }
  }

  .principleAndConcept {
    .text {
      font-size: 16px;
      line-height: 24px;
      padding: 30px 200px;
      border: 2px solid rgb(227, 187, 138);
      .principles {
        margin: 0;
        float: left;
        padding-left: 0;
        list-style: none;
      }
      .concept {
        float: right;
        max-width: 520px;
      }
    }
  }

  .vision, .example {
    p {
      display: flex;
      font-size: 16px;
      line-height: 24px;
      align-items: center;
      > span {
        min-width: 200px;
        &:first-of-type {
          margin-right: 50px;
        }
        &:last-of-type {
          > span {
            display: block;
          }
        }
      }
    }
    .separator {
      width: 100%;
      height: 1px;
      margin: 30px 0;
      display: inline-block;
      background-color: #333;
    }
  }

  .investmentGroup {
    p {
      color: #FFF;
      font-size: 16px;
      margin-bottom: 20px;
      a {
        margin-right: 20px;
        &.hilite {
          cursor: pointer;
          color: #F5D372;
        }
      }
    }
  }

  .faq {
    h4 {
      margin-bottom: 20px;
    }
    .answer {
      padding: 0 16px;
      p {
        font-size: 15px;
        margin-bottom: 20px;
      }
    }
  }

  .contactUs {
    .qrcode {
      text-align: center;
      > div {
        display: inline-block;
        &:first-of-type {
          margin-right: 100px;
        }
        img {
          width: 90px;
          height: 90px;
        }
        p {
          color: #FFF;
          margin-top: 5px;
        }
      }
    }
  }
}
