.newsletter_detail {
  padding-bottom: 40px;
  .article {
    margin-bottom: 16px;
    background-color: #FFF;
    .back {
      padding: 18px 20px;
      border-bottom: 1px solid @border-color;
      .backButton {
        cursor: pointer;
        color: #333;
        font-size: 20px;
        :global(.weim-icon) {
          margin-right: 14px;
          vertical-align: -2px;
        }
        &:hover {
          color: @primary-hover-color;
        }
      }
    }
  }

  .message {
    width: 100%;
    padding: 16px 20px 16px 27px;
    background: #ffffff;
    font-size: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: pre-wrap;
  }
}
