.user_party {
  width: 472px;
  position: relative;
  display: inline-block;
  padding: 40px 0 20px;
  background-color: #FFF;
  .user_party__header {
    margin-bottom: 40px;
    padding: 10px 44px 40px;
    border-bottom: 1px solid @border-color;
  }
  .user_party__body {
    padding: 0 44px;
    .user_party__description {
      font-size: 20px;
      margin: 0 0 20px;
      line-height: 20px;
      text-align: center;
    }
    .remarks {
      color: #666;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  .user_party__footer {
    padding: 0 44px;
  }
  :global {
    .weim-icon-container {
      top: 15px;
      right: 15px;
      height: 16px;
      position: absolute;
    }
    .weim-button {
      height: 55px;
      &.disabled {
        opacity: .8;
      }
      &:not(:first-of-type) {
        margin-top: 14px;
      }
      .weim-button-icon {
        margin-right: 20px;
        > img {
          width: auto;
          height: auto;
          vertical-align: -4px;
        }
      }
    }
  }
}
