.main {
  flex: 1;
  margin-left: 16px;
  position: relative;
  .block {
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    position: absolute;
    &.active {
      display: block;
      position: relative;
    }
  }
}
